<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>About Us</title>
  <style media="screen">
    .jumbotron {
      margin-top: 0px;
      margin-bottom: 0px;
    }

    .jumbotron h1 {
      text-align: center;
    }

    .alert {
      margin: 0px;
    }
  </style>
</head>

<body>
  @Html.Partial("navbar")
  <br><br>
  <center>
    <h3 class='alert alert-success' style="margin-bottom:0px;">About Us !</h3>
  </center>
  <div class="jumbotron" style="margin-bottom: 0px;margin-top: 0px;">
  
    <p class="lead">A service dedicated to Hospital Admin, Doctor and Patient.</p>
    <p>Hospitalmanagement.net is one of a network of 30+ proprietary B2B websites, with an unrivalled global audience of active decision makers, influencers, and opinion leaders across the world with a combined readership of 55 million industry professionals each year.</p>
   <p>Combined with our award-winning targeting technology built into our network of websites, we offer a unique end-to-end marketing solution combining insight, creativity, and cutting-edge AI-technology. Our marketing solution allows clients to identify, target and engage with prospects using access and ownership of our 30+ B2B media websites and their large sector specific audiences. With more reach, data targeting and first-party data than any other partner, we produce world-class campaigns for our clients. For more details on our technology-driven marketing solution</p>
    <hr class="my-4">
    <p>Explore our Website.</p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="/Home/HomePage" role="button" style="text-align:center; margin-left:45%;">HOME</a>
    </p>
  </div>
   @Html.Partial("footer")
</body>
</html>